<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %> 

        <div class="not-found content">
             OOPS.. Page not founds!
        </div>
       
<%- include('./partials/footer.ejs') %>
