<%- include('./partials/head.ejs') %>

    <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About us</h2>
            <p>LOrem Ipsum</p>
            <p>LOrem Ipsum</p>
            <p>LOrem Ipsum</p>
        </div>

<%- include('./partials/footer.ejs') %>
